
* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI", "sans-serif";
}

div.clearme {
    clear: both;
}

body > header img {
    width: 65%;
    border-top: 2px solid black;
}

body > nav {
    background-color: darkslateblue;
}

body > nav ul li {
    font-size: 1.5em;
    float: left;
    color: white;
    list-style: none;
    padding-left: 5px;
    padding-right: 4%;

}

body section > header h1 {
    margin: 20px 20px 20px 20px;
}

body section > header h3 {
    margin: 20px 20px 20px 20px;
}

