div.clearme {
    clear: both;
}

body section div.first {
    width: 100%;
}

body section div.first fieldset {
    float: left;
    margin: 20px 20px 20px 20px;
    width: 45%;
    height: 400px;
    border: 2px solid black;
    font-size: 1.01em;
}

body section div.first div.left span, body section div.first div.right span {
    width: 30%;
    display: inline-block;
    margin-right: 5%;
    padding: 15px;
    text-align: left;
}

body section div.first div.left input[type="text"],
body section div.first div.right input[type="text"] {
    width: 40%;
    border: 1px solid black;
}

body section div.middle label {
    margin: 20px;
    font-size: 1.2em;
}


body section div.second label {
    display: block;
    margin: 20px;

}

body section div.second label textarea {
    width: 40%;
    height: 200px;
    border: 2px solid black;
}

body section div.button {
    margin: 20px;
}